extends layout

block content
    .resources
        - var activeSubsectionObject = resourcesInfo.find(sub_section => {return sub_section.value===activeSubsection})
        .ui.grid.stackable 
            .column.four.wide.stretched 
                .ui.menu.fluid.stackable.vertical.tabular
                    each sectionTitle in sectionTitles 
                        .section 
                            - var isActiveSection = activeSubsectionObject["section"] === sectionTitle
                            h3.section_title.item(class={active: isActiveSection, zeroPadding: !isActiveSection}) #{sectionTitle.toUpperCase()}
                            - var sub_sections = resourcesInfo.filter(sub_section => {return sub_section.section===sectionTitle})
                            each sub_section in sub_sections
                                - var isActiveSubSection = sub_section["value"]===activeSubsectionObject["value"]
                                a(href="/resources2/"+sub_section["value"])
                                    p.subsection_title.subsection_link(class={active: isActiveSubSection}) #{sub_section["title"]}
            .column.twelve.wide
                -var active_subsection_resources = resourcesInfo.find(sub_section => { return sub_section.value === activeSubsection})["content"]
                - var language_colortags = { 'English': 'blue', 'Spanish': 'orange', 'Chinese': 'red', 'Vietnamese': 'purple'}
                h1.boldText #{activeSubsectionObject["title"]}
                .ui.grid.stackable.two.column
                    each resource in active_subsection_resources
                        .column
                            .ui.fluid.card(href=resource["url"]).resourceCard
                                .content
                                    .header #{resource["title"]}
                                    .description
                                        a.blue(href=resource["url"], target="_blank") #{resource["url"]}
                                .content
                                    if resource["description"]
                                        .description.addBottomMargin #{resource["description"]}
                                    each language in resource["languages"]
                                        .ui.label(class=language_colortags[language]) #{language}

block styles 
    link(rel='stylesheet', href='/css/resources2.css')

block scripts
    script. 
        function clickSubsection(value){
            window.location.href=`/resources2/${value}`;
        }
    script. 
        $('.resourceCard').on('click', function(){
            const redirectToURL = $(this)[0].getAttribute("href");
            window.open(redirectToURL,'_blank');
        })
    script. 
        $('.resourceCard').hover(
            function(){
                //- mouse over
                $(this).css("background-color", "#f2f2f2");
                $(this).find('.header').css("background-color", "#f2f2f2");
                $(this).find('.description').css("background-color", "#f2f2f2");
            }, 
            function(){
                //- mouse out 
                $(this).css("background-color", "");
                $(this).find('.header').css("background-color", "");
                $(this).find('.description').css("background-color", "");
            })